Spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/chatt_app
    username: lab_user
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    show-sql: true

